<ion-toolbar style="height: 100px; border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">
  <ion-img src="assets/logo.png" style="height: 40px; margin-top: 20px;"></ion-img>
</ion-toolbar>

<div class="banner"></div>

<ion-img src="assets/paulinho.png" class="ion-text-center" style="height: 125px; margin-top: -100px; position: relative; z-index: 999;"></ion-img>

<ion-content>

  <div class="line">
    <div style="display: flex;">
      <ion-icon name="chevron-back-outline" style="padding: 16px; font-size: larger;" (click)="navigateToChatPage()"></ion-icon>
      <p style="padding-left: 105px;">Bate-papo</p>
    </div>
  </div>


  <div class="footer">
    <div class="BP">
      <ion-icon name="paper-plane-outline" style="color: gray; padding-left: 5px; padding-top: 5px;"></ion-icon>
      <input type="text" placeholder="Escreva sua mensagem aqui!">
    </div>
  </div>

</ion-content>
