<div class="BU">
<ion-toolbar style="height: 50px; border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">
  <div class="ion-text-center" style="display: flex-center; margin-top: -12px;">
    <ion-icon name="location-outline"></ion-icon>
    <ion-label>Av. Getúlio Vargas, 4388</ion-label>
  </div>
</ion-toolbar>

<div class="banner"></div>

<ion-img src="assets/perfil.png" class="ion-text-center" style="height: 125px; margin-top: -100px; position: relative; z-index: 999;"></ion-img>

</div>

<div class="line">
  <div class="ion-text-center">
    <p style="margin-top: 8px;">João Petry</p>
  </div>
</div>

<ion-content>

  <div class="desc">
    <p style="color: black; margin-top: 3px; margin-bottom: 3px;">Lembretes</p>
    <div class="scroll">
      <div style="height: 200px;">
        <p style="color: black; font-size: small; padding: 7px; overflow-wrap: break-word; word-wrap: break-word; white-space: normal;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nulla tellus, blandit quis viverra vitae, rutrum a elit. Aliquam id viverra nisl, nec fermentum massa. Sed sit amet mauris nec urna posuere finibus. Pellentesque at facilisis felis. Morbi sed arcu convallis, vulputate ante ac, fermentum quam. Nunc quam ipsum, tincidunt in ultrices sed, suscipit et neque. In suscipit cursus nibh vel venenatis. Praesent at leo et felis porta eleifend id ac libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec orci eros, ullamcorper et turpis quis, placerat suscipit turpis. Etiam non nulla eu eros dapibus efficitur. Donec eget dui vitae nulla condimentum rhoncus eu cursus arcu. In commodo sem tortor, ut accumsan turpis aliquet non. Vivamus dignissim vehicula orci, eu commodo est dignissim ut.

          Vivamus eu metus massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut feugiat vestibulum eleifend. Sed id bibendum elit. Nunc imperdiet, sem sit amet auctor venenatis, nulla quam consequat urna, tincidunt commodo mauris enim quis purus. Suspendisse molestie mi libero, vitae facilisis elit iaculis rutrum. Vivamus eu leo tortor. Vivamus leo eros, mattis non pharetra tincidunt, maximus sit amet enim. Cras quis posuere mi, quis ultricies tellus. In hac habitasse platea dictumst.
        </p>
    </div>
    </div>
  </div>

  <div class="caixasE">
    <div class="caixa" (click)="navigateToCadCarroPage()">
      <ion-icon name="add-outline" size="large" style="color: black; margin-top: 45px;"></ion-icon>
      <p class="ion-text-center" style="color: black;">Cadastre seu carro<br>aqui!</p>
    </div>
    <div class="caixa">
      <ion-img src="assets/lock.png" class="ion-text-center" style="height: 76px; margin-top: 25px;"></ion-img>
      <p class="ion-text-center" style="color: black; padding-top: 10px;">Exclusivo para assinantes premium.</p>
    </div>
  </div>

</ion-content>
