<ion-toolbar style="height: 50px; border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">
  <div class="ion-text-center" style="display: flex-center; margin-top: -12px;">
    <ion-icon name="location-outline"></ion-icon>
    <ion-label>Av. Getúlio Vargas, 4388</ion-label>
  </div>
</ion-toolbar>

<div class="banner"></div>

<ion-img src="assets/gas.png" class="ion-text-center" style="height: 65px; margin-top: -88px; position: relative; z-index: 999;"></ion-img>

<ion-content>

  <div class="line"></div>
  <div class="UNot">
    <p style="color: white; padding-top: 8px; font-size: x-large;">Postos com os<br>melhores preços</p>
  </div>

  <div class="ion-text-center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6924.081607308057!2d-51.172796223152844!3d-29.80536552445901!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95196f533b75f705%3A0x61d48ff5df5bc9d6!2sCarrefour%20Posto%20Sapucaia%20Do%20Sul!5e0!3m2!1spt-BR!2sbr!4v1701284941371!5m2!1spt-BR!2sbr" width="350" height="350" style="border: 2px #FF4500 solid; margin-top: 15px; border-radius: 10px; border-bottom: 3px #FF4500 solid;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

</ion-content>
