<ion-toolbar style="height: 50px; border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">
  <div class="ion-text-center" style="display: flex-center; margin-top: -12px;">
    <ion-icon name="location-outline"></ion-icon>
    <ion-label>Av. Getúlio Vargas, 4388</ion-label>
  </div>
</ion-toolbar>

<div class="banner"></div>

<ion-img src="assets/not2.png" class="ion-text-center" style="height: 65px; margin-top: -88px; position: relative; z-index: 999;"></ion-img>

<ion-content>

  <div class="line"></div>
  <div class="UNot">
    <p style="color: white; padding-top: 21px; font-size: x-large;">Últimas Notificações</p>
  </div>

<!-- Not1 -->

  <div class="Not">
    <ion-img src="assets/paulinho.png" style="height: 75px; margin-top: 8px; margin-left: 8px;"></ion-img>
    <div class="DISC">
      <p style="font-size: medium; padding-left: 10px;">Paulinho Car</p>
      <p style="font-size: smaller; padding-left: 10px; margin-top: -8px;">O dia da sua troca de óleo está chegando!</p>
    </div>
    <ion-img src="assets/not2.png" style="height: 35px; padding: 8px;"></ion-img>
  </div>

  <!-- Not2 -->

  <div class="Not">
    <ion-img src="assets/auto.png" style="height: 75px; margin-top: 8px; margin-left: 8px;"></ion-img>
    <div class="DISC">
      <p style="font-size: medium; padding-left: 10px;">Auto Repair</p>
      <p style="font-size: smaller; padding-left: 10px; margin-top: -8px;">Foi necessário cancelar o reparo agendado!</p>
    </div>
    <ion-img src="assets/not2.png" style="height: 35px; padding: 8px;"></ion-img>
  </div>

  <!-- Not3 -->

  <div class="Not">
    <ion-img src="assets/mecha.png" style="height: 75px; margin-top: 8px; margin-left: 8px;"></ion-img>
    <div class="DISC">
      <p style="font-size: medium; padding-left: 10px;">Mechanica</p>
      <p style="font-size: smaller; padding-left: 10px; margin-top: -8px;">O dia da sua revisão mensal está chegando!</p>
    </div>
    <ion-img src="assets/not2.png" style="height: 35px; padding: 8px;"></ion-img>
  </div>

  <!-- Not4 -->

  <div class="Not">
    <ion-img src="assets/parada.png" style="height: 75px; margin-top: 8px; margin-left: 8px;"></ion-img>
    <div class="DISC">
      <p style="font-size: medium; padding-left: 10px;">Parada Segura</p>
      <p style="font-size: smaller; padding-left: 10px; margin-top: -8px;">Seu filtro de combustível pode estar danificado!</p>
    </div>
    <ion-img src="assets/not2.png" style="height: 35px; padding: 8px;"></ion-img>
  </div>

</ion-content>
