<ion-toolbar style="height: 50px; border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">
  <div class="ion-text-center" style="display: flex-center; margin-top: -12px;">
    <ion-icon name="location-outline"></ion-icon>
    <ion-label>Av. Getúlio Vargas, 4388</ion-label>
  </div>
</ion-toolbar>

<div class="banner"></div>

<ion-img src="assets/prem.png" class="ion-text-center" style="height: 65px; margin-top: -88px; position: relative; z-index: 999;"></ion-img>

<ion-content>

  <div class="line">
    <p style="margin-left: -30px; font-size: 24px; padding-top: 8px;">Aqui você descobre as<br>vantagens do nosso premium</p>
  </div>

    <div class="caixa">
      <p style="color: black;">
        Utilizando nosso premium você consegue <br>
        diversas vantagens, como promoções em <br>
        nossas oficinas parceiras, alem de encontrar <br>
        postos de sua região com os melhores <br>
        preços, isso e muito mais adquirindo nosso <br>
        Premium.
      </p>
    </div>

    <div class="line2"></div>
    <div class="UNot">
      <p style="color: white; padding-top: 21px; font-size: x-large;">Adquira agora</p>
    </div>

</ion-content>